<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<head>
    <meta charset="UTF-8">
    <title>Trading bot</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey">
    <div class="w3-container w3-grey w3-opacity w3-right-align w3-padding\">
        <div style="float: right;">
            <form th:method="POST" th:action="@{/auth/logout}">
                <button class="w3-btn w3-round-large">Logout</button>
            </form>
        </div>
        <div style="float: right;">
            <form th:method="GET" th:action="@{/bots/bot}">
                <button class="w3-btn w3-round-large">Bot</button>
            </form>
        </div>
        <div sec:authorize="hasAnyAuthority('permissions:admin', 'permissions:observer')" style="float: right;">
            <form th:method="GET" th:action="@{/admin}">
                <button class="w3-btn w3-round-large">Admin</button>
            </form>
        </div>
    </div>
    <div class="w3-container w3-blue-grey w3-opacity w3-right-align">
        <div class="w3-left" sec:authorize="isAuthenticated()">
            <h1>Hello <span sec:authentication="name"></span>!</h1>
        </div>
        <div class="w3-right">
            <h1>Trading bot</h1>
        </div>
    </div>

<div class="w3-container">
    <iframe th:src="@{/bots/service}"></iframe>
    <style>
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</div>
</body>
</html>
